@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Acme", sans-serif;
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
section {
  padding: 10rem 0;
  background-color: white;
}
.heading {
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 3px;
  margin-right: -3px;
  margin-bottom: 2rem;
  position: relative;
}
.heading:after {
  content: "";
  width: 10rem;
  height: 0.5rem;
  background-color: rgb(19, 194, 72);
  position: absolute;
  top: 100%;
  left: 50%;
  bottom: 20%;
  transform: translate(-50%, -50%);
}
.card_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.card {
  width: 25rem;
  display: flex;
  background-color: lavenderblush;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  box-shadow: 2px 2px 10px 0px gray;
}
.card .card_image {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0%, 100% 67%, 0% 100%);
}
.profile_img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  object-fit: cover;
  margin-top: -12rem;
  z-index: 999;
  border: 1rem solid lavenderblush;
}
.card h1 {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 1rem 0;
}
.job_title {
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: 300;
  color: rgb(13, 61, 61);
  text-align: center;
}
.about {
  font-size: 0.8rem;
  text-align: center;
  margin: 1rem;
  font-style: italic;
}
.card .btn {
  font-size: 1rem;
  color: white;
  background-color: palevioletred;
  text-transform: capitalize;
  padding: 1rem 2.5rem;
  border-radius: 2rem;
  margin: 1rem 0;
  transition: 0.5s ease-in-out;
}
.card .btn:hover {
  box-shadow: 2px 3px 10px 2px grey;
  background-color: white;
  color: palevioletred;
}
.socialmedia {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
  padding: 1.5rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.socialmedia i {
  font-size: 2rem;
}
.fa-facebook-square {
  color: #3b5999;
}
.fa-twitter-square {
  color: #55acee;
}
.fa-instagram {
  color: #ec1367;
}
.fa-youtube {
  color: red;
}
@media (min-width: 700px) {
  .card_wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .card {
    margin: 2rem;
  }
}
@media (min-width: 900px) {
  .card_wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .card {
    margin: 2rem;
  }
}
